@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

.container{
    background-color:rgba(128,0,128,0.8);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.4);
}

.container h2{
    margin-bottom: 30px;
    text-align: center;
    color: #f5eaea;
}

.container a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: plum;
}

.form-control{
    position: relative;
    margin: 20px 0 40px;
    color: #fff;
}

.form-control input{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    display: block;
    font-size: 15px;
    color: #fff;
    padding: 15px 0;
    background: transparent;
}

.form-control input:focus, .form-control input:valid{
outline: none;
border-bottom-color: pink;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control input:focus + label,
.form-control input:valid + label{
  color: pink;
  transform: translateY(-25px);
  transition: 0.3s;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
transition: background-color 600000s 0s, color 600000s 0s;
}

.btn{
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 15px;
}

.btn:hover{
    background-color: plum;
    transform: scale(1.1);
    transition: transform 0.4s ease-out;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

.text{
    margin-top: 30px;
}

/* table.php Table styles*/
.table-container {
    width: 80%;
    margin: 50px auto 0 auto;
    padding: 20px 20px 50px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: whitesmoke;
    border-radius: 5px;
  }
  
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 18px;
    margin: 0.5em 0 0.75em;
    font-weight: bold;
    padding: 20px 0;
    border-left: 5px solid black;
    background: rgb(221, 220, 220);
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }
  
  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }
  
  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  @media (max-width: 575.98px) {
    /* Styles for extra small devices go here */
    .container {
      width: 100%;
    }
  
    /* responsive table */
    .table-container {
      width: 95%;
    }
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
  
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
  
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
  
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for small devices go here (Landscape)*/
    .container {
      width: 80%;
      margin: 3% auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for medium devices go here (Tablets) */
    .container {
      width: 50%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for large devices go here */
  }
  
  @media (min-width: 1200px) {
    /* Styles for extra large devices go here */
  }