@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

.container{
    background-color:rgba(128,0,128,0.8);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.4);
}

.container h2{
    margin-bottom: 30px;
    text-align: center;
    color: #f5eaea;
}

.container a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: plum;
}

.form-control{
    position: relative;
    margin: 20px 0 40px;
    color: #fff;
}

.form-control input{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    display: block;
    font-size: 15px;
    color: #fff;
    padding: 15px 0;
    background: transparent;
}

.form-control input:focus, .form-control input:valid{
outline: none;
border-bottom-color: pink;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control input:focus + label,
.form-control input:valid + label{
  color: pink;
  transform: translateY(-25px);
  transition: 0.3s;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
transition: background-color 600000s 0s, color 600000s 0s;
}

.btn{
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 15px;
}

.btn:hover{
    background-color: plum;
    transform: scale(1.1);
    transition: transform 0.4s ease-out;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

.text{
    margin-top: 30px;
}